:root {
  --back: #ffffff;
  --dark: #293E3F;
  --primary: #5B818E;
  --primaryhighlight: #76A9C4;
  --secondary: #AFDFB5;
}

body {
  margin: 0;
  background-color: var(--back);
  color: var(--dark);

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: var(--primary);
}

li a {
  display: block;
  color: var(--back);
  text-align: center;
  padding: 18px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
}

.topsearch{
  margin: 18px;
  display: flex;
}

a{
  float: right;
}

li a:hover {
  background-color: var(--primaryhighlight);
}
textarea {
  display: block;
}

input[type=submit] {
  display: block;
}

input[type=submit][value=search] {
  display: inline;
}